body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

thead  tr{
  border-bottom: 2px solid red;
}

tbody tr:first-child {
  color: red
}

.content {
  width: 1000px;
  min-height: calc(100vh - 70px - 64px);
  padding: 15px 0;
}
.duration-item {
  color: black;
  padding: auto;;
}

.input-field input[type=text]:active {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000}






